<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="" th:action="@{/member/login}" method="post"
      th:object="${login}">
    <p> 아이디 : <input type="text" th:field="*{loginId}"/></p>
    <p> 비밀번호 : <input type="password" th:field="*{password}"/></p>
    <p>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </p>
    <a href="/member">회원가입</a>

</form>

</body>
</html>